/.gradle/
/reports/
/.metadata/

# common
**/main/bin/
**/test/bin/
**/build/
**/generated/
**/main/*-gen/
**/test/*-gen/
*RuntimeModule.java
*StandaloneSetup.java
.antlr-generator-3.2.0.jar
.antlr-generator-3.2.0-patch.jar
plugin.xml_gen

# project-specific
/org.foam.xtext.plogic/plugin.xml
/org.foam.xtext.plogic/plugin.xml_gen
/org.foam.xtext.plogic/model/
/org.foam.xtext.plogic/META-INF/

/org.foam.xtext.ctl/META-INF/

/org.foam.xtext.ltl/META-INF/

# global
!**/.gitkeep
/build/
