/.CreateEdgeTransitionProcessor.java._trace
/.CreateOverviewEdgeTransitionProcessor.java._trace
/.RemoveRecordNodeEdgeTransitionProcessor.java._trace
/CreateEdgeTransitionProcessor.java
/CreateOverviewEdgeTransitionProcessor.java
/RemoveRecordNodeEdgeTransitionProcessor.java
