/.LtsReduction.java._trace
/.StateReducedEvent.java._trace
/.StateWithOneInputAndOneOutputTransition.java._trace
/LtsReduction.java
/StateReducedEvent.java
/StateWithOneInputAndOneOutputTransition.java
